---
Language: Cpp
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  BeforeWhile: true
BreakBeforeBraces: Allman
ColumnLimit: 120
IncludeBlocks: Preserve
IndentCaseBlocks: true
IndentCaseLabels: true
InsertBraces: true
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
SpacesInParentheses: false