name: CI

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up vcpkg
      run: |
        sudo apt update
        sudo apt install -y cmake
        git clone https://github.com/microsoft/vcpkg.git
        ./vcpkg/bootstrap-vcpkg.sh

    - name: Download Unit Test Designs
      run: |
        python -m pip install -r test/py/requirements.txt
        python test/py/testing.py --download_repos true --database_file_path repos.yaml --third_party_path test/designs

    - name: Create Unit Tests
      run: |
        python test/py/testing.py --generate_unit_tests true --database_file_path repos.yaml --unit_test_path test/src/generated_tests --third_party_path test/designs

    - name: Build Library, CLI Application and Tests
      run: |
        cmake -B build -S . -DCMAKE_TOOLCHAIN_FILE=vcpkg/scripts/buildsystems/vcpkg.cmake
        cmake --build build -j $(nproc)

    - name: Run Tests
      run: |
        sudo apt update
        sudo apt install -y parallel
        python run_parallel_tests.py
        # ./run_parallel_tests.sh
        # ./build/test/test